<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHPviaFastCGI" />            
            <add name="PHPviaFastCG" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\php\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
		<httpRuntime requestPathInvalidCharacters="" />
		<pages validateRequest="false" />
        <identity impersonate="false" />
		<customErrors mode="Off" />
    </system.web>
</configuration>
